appdirs==1.4.4
asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
distlib==0.3.1
Django==3.1.5
djangorestframework==3.12.2
filelock==3.0.12
idna==2.10
Pillow==8.1.0
pipenv==2020.11.15
pypng==0.0.20
PyQRCode==1.2.1
pytz==2020.5
qrcode==6.1
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.3
virtualenv==20.4.2
virtualenv-clone==0.5.4
